---
layout: layout.njk
title: Presse
---
<h1 class="h1">Presse</h1>
<p class="lead">Auswahl an Artikeln und Zitaten. (Einträge können im CMS hinzugefügt werden.)</p>

<div class="list section">
  {% for post in collections.presse | reverse %}
    <article class="item">
      <div class="item__meta">{{ post.date | isoDate }}</div>
      <div><a href="{{ post.url }}">{{ post.data.title }}</a></div>
      {% if post.data.excerpt %}<div class="small">{{ post.data.excerpt }}</div>{% endif %}
    </article>
  {% endfor %}
</div>
